* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(37, 37, 255);
    height: 15vh;
    position: relative;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    padding: 2% 0;
}

nav {
    position: absolute;
    top: 40%;
    left: 35px;
    font-size: larger;
    color: white;
}

nav:hover {
    text-decoration: underline;
}

header p{
    position: absolute;
    top: 40%;
    right: 35px;
    font-size: larger;
    color: white;
}

main {
    background-color: rgb(162, 162, 255);
    height: 85vh;
}

#content {
    margin: auto;
    width: 70%;
    border: 6px solid darkblue;
    border-radius: 20px;
    padding: 25px;
    position: relative;
    top: 70px;
    background-color: white;
    text-align: center;
    height: auto;
}

main p {
    text-align: justify;
    padding-bottom: 15px;
}

button {
    border: groove 10px #ff6550;
    background-color: #ff6550;
    padding: 8px 15px;
    border-radius: 18px;
    font-weight: bold;
}

button:hover {
    background-color: #65271f;
    color: white;
}

button:active {
    background-color: white;
    color: #65271f;
}

h2 {
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    padding-bottom: 15px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 10px 15px;
    margin: 10px;
    border: 6px solid darkblue;
    border-radius: 20px;
    width: 200px;
    background-color: rgb(205, 205, 205);
    text-align: justify;
}

li:hover {
    background-color: rgb(142, 142, 142);
    font-weight: bold;
}

input {
    padding: 15px;
    margin: 15px;

}

#end-page{
    display: none;
    text-align: center;
}

#end-page p{
    text-align: center;
}